body {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: flex-start; /* Alinea los elementos al tope de la página */
    min-height: 100vh; /* Establece el mínimo alto de la página */
    background-color: hsl(33, 50%, 62%);
}

.container {
    width: 100%;
    max-width: 500px;
    padding: 20px;
}
h1{
    font-family: Arial, sans-serif;
}

#calculator{
    font-family: Arial, sans-serif;
    background-color: hsl(0, 0%, 10%);
    border-radius: 15px;
    max-width: 500px;
    overflow: hidden;
}
#display{
    width: 100%;
    padding: 20px;
    font-size: 5rem;
    text-align: right;
    border: none;
    background-color: hsl(0, 0%, 15%);
    color: white;
    box-sizing: border-box;
}
#keys{
    display: grid;   
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    padding: 25px;
}
button{
    width: 100px;
    height: 100px;
    border-radius: 50px;
    border: none;
    background-color: hsl(0, 0%, 30%);
    color: white;
    font-size: 3rem;
    font-weight: bold;
    cursor: pointer;
}
button:hover{
    background-color: hsl(0, 0%, 40%);
}
button:active{
    background-color: hsl(0, 0%, 50%);
}
#zero {
    width: 220px;
    grid-column: span 2;
    text-align: left;
    padding-left: 38px; 
    
}

.operator-btn{
    background-color: hsl(35, 100%, 55%);

}
.operator-btn:hover{
    background-color: hsl(35, 100%, 65%);

}
.operator-btn:active{
    background-color: hsl(35, 100%, 75%);

}
.right-align {
    text-align: right;
}
.extra-operator-btn{
    background-color: hsl(30, 1.7%, 82.8%);
    color: black;
}
.extra-operator-btn:hover {
    background-color: hsl(30, 1.7%, 95%);
}
.extra-operator-btn:active {
    background-color: hsl(30, 1.7%, 105%);
}